/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 1, 2019, 12:39:41 PM
    Author     : user
*/

@font-face {
    font-family: 'Raleway-Regular';
    src: url('../fonts/raleway/Raleway-Regular.ttf');
}






body{
    font-family: Raleway-Regular;
    background: #e7e7e7; 
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
}

.landing_wrapper_content .landing_ex {


    text-align: center !important;
    position: relative;
    z-index: 1;
    float: left;

}
.landing_wrapper_content .landing_ex::after {

    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #ff9400;
    border-radius: 2px;
    opacity: .55;

}
.btn {
    border-radius: 0px !important;
}
.landing_ex{
    padding: 20px;
}
.btn_default {
    margin-right: 0;
    padding: 0 32px;
}
.btn_default, .btn_white {
    padding: 0 40px;
    height: 50px;
    line-height: 50px;
    background-color: #ff9400;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-right: 30px;
    display: inline-block;
    position: relative;
    z-index: 0;
    font-weight: 500;
}

.container {

    border: none !important;

}

.form-control, .bootstrap-select > .dropdown-toggle{
    padding: 11px;
    height: 45px;
    width: 100%;
    border: 1px solid #ddd;
    outline: 0;
    font-size: 18px;
}
input.form-control {

    border: none;
    border-bottom: 2px solid #000;
    background: transparent;

}
.fxoverlay {
    opacity: .8;
    background: rgba(17, 21, 28, 0.7);
}
.fxoverlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    border: none;
    padding: 0;
    margin: 0;

}

.landing_wrapper_content {
    padding-top: 6em;
    color: #fff;
}
.landing_wrapper_content h5 {
    font-size: 22px;
    font-family: "Muli", sans-serif;
    font-weight: 400 !important;
}
.landing_wrapper_content h2 {
    font-size: 48px;
    font-family: "Muli", sans-serif;
    font-weight: 600 !important;
    margin-bottom: 20px;
}
.landing_wrapper .landing_wrapper_content h2 span {
    font-weight: 700;
}
.landing_wrapper .landing_wrapper_content p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 25px;
}
body .landing_wrapper .landing_wrapper_content .btn_default {
    margin-right: 20px;
}
.text_colored {
    color: #ff9400;
}


.logo {
    height: 41px;
}


.divbanner{
    padding: 6em auto;
    margin: auto;
    width: 100%;
    min-height: 450px;
    background: url('../img/blog_01.jpg');
    position: relative;

}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight:  900;
}
.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 1px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fc9338;
    background-color: transparent !important;
}

.navbar-default {
    background-color: rgba(17, 21, 28, 0.7);
    border-color: transparent;
}

.navbar{
    margin-bottom: 0em !important;
}

.makecrypt{

    width: 100%;
    height:100px;
    background: #fff;
    position: relative;
    margin-top: -1.5em;
    z-index: 900;
    border-left: 5px solid #f8a036;
}

.makecrypt .currentfx{

    border-right: 1px solid #efefef;
    height:100px;
}
.makecrypt .currentfx:last-child{
    border-right: none;

}

.currentfx{
    padding: 0.3em;

}
.currentfx img{

    float: left;
    height: 50px;
    width: 50px;
    margin: 1em auto;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #efefef;
}

.currentfxtx{

    float: left;
    width: auto;
    text-align: center;
    margin-left: 0.5em;
}
.currentfxtx h3{
    font-size: 21px;
    font-weight: bolder;
    margin-bottom: -0.1em;
}

.currentfxtx span{
    font-size: 16px;
    font-weight: 400;
}

.widgetc{

    width: 100% ;
    height: auto;
    margin-bottom: 1px;
    float: left;
    background: #fff !important;

}

.widgetc:first-child div{

    width: 100% ;
    min-width: 0% !important;
    background: #fff !important;
    border-radius: 0px !important;
}

.widgetc1{

    width: 100% ;
    height: auto;
    float: left;
    margin-top: 1.2em;


}

.coinmarketcap-currency-widget div {
    background: #fff !important;
    width: 100%;
    min-width: 0px !important;
    border-radius: 0px !important;

}
.coinmarketcap-currency-widget div > a:last-of-type{
    visibility: hidden;
    content: "";
}

.coinmarketcap-currency-widget div > a:last-of-type:after      {
    visibility: visible;
    /*Buy and Sell at Swiftypay.Net*/
    content: "";
    margin-left:auto;
    margin-right:auto;


}

.ads3{
    width: 100%;
    height: 300px;
    background: #fff;
    margin-top: 1em;
    margin-bottom: 1em;
    float: left;
}

.ads2{
    width: 100%;
    height: 90px;
    background: #fff;
    margin-top: 1em;
}


.boxside{
    width: 100%;
    max-height: 300px;
    background: #fff;
    margin-top: 1em;  

}

.subcriberem{
    width: 100%;
    background: #fff;
    float: left;
    padding: 1em;
    text-align: center;
    background: #f8a036;
    color: #fff;
}

.subcriberem h4{
    font-size: 40px;


}


input{

    border-radius: 1px !important;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #ff9400;
    outline: 0;
}

.coinx{
    width: 100%;
    min-height:300px;
    background: #fff;
    margin-top: 1em;  
    border-right: 5px solid #f8a036;

}

.coinxl{
    width: 100%;
    min-height:296px;
    background: #fff;
    margin-top: 1em;  
    border-right: 5px solid #f8a036;

}
.boxlayout{

    width: 100%;
    min-height: 320px;
    background: #fff;
    margin-top: 1em;
    border-radius: 2px;
    position: relative;
    float: left;

}


.boxbgimg > img {
    width: 100%;
    min-height: 180px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    max-height: 450px;
}

.boxbgdate{
    width: 80px;
    height: 80px;
    background: #fc9338;
    position: absolute;
    margin-top: -2em;
    margin-left: 0.4em;
    border-radius: 2px;
    color: #fff;
    padding: 0.5em;
    text-align: center;
}

.boxbgdate > h1{

    font-weight: bolder;
    font-size: 40px;
    margin-top: -0.1em;
    margin-bottom: -0.1em;
}


.boxbgdate > span{
    font-weight: 400;
    font-size: 12px;

}
.boxbgstatus {

    position: relative;
    float: right;
    font-size: 13px;
    text-align: left;

    padding: 0.5em;
    margin-top: 0.5em;

}

.boxbgstatus > span{
    color: #888;
}
.boxbgstatus > i{
    color: #f8a036;
}


.boxbgcontent {

    margin-top: 0.1em;
    padding: 1em;
    width: 100%;
    position: relative;
    float: left;


}
.boxbgcontent h5{
    font-weight: 500;
    font-size: 19px;


}

.boxbgcontent  a{

    color: #f8a036;
    font-size: 100%;
    font-weight: bolder;
}


.footer{

    width: 100%;
    min-height: 230px;
    float: left;
    background: #000;
    margin-top: 1em;
    padding-top: 2.6em;
}

.footermac{   
    width: 100%;
    height: 30px;
    background: #088;
    position: fixed;
    bottom: 0em;
    z-index: 900;
}

.btn-black{
    background: #000;
    color: #fff;
}

.newsd{
    width: 100%;
    float: left;

}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.footer {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
}
.footer:before {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(33, 41, 62, 0.9);
    content: "";
}
.footer .footer_logo {
    margin-bottom: 30px;
    height: 32px;
}
.footer p {
    font-size: 14px;
    margin-bottom: 30px;
}
.footer p i.text_colored {
    display: inline-block;
    margin-right: 10px;
}
.footer p a {
    color: #fff;
}
.footer p a:hover {
    color: #ff9400;
}
.footer .row.no-gutters p {
    margin-bottom: 25px;
}
.footer .footer_header {
    margin-bottom: 30px;
    font-size: 24px;
    font-family: "Muli", sans-serif;
    font-weight: 600;
}
.footer .footer_br {
    border-right: 1px solid #555;
    border-top: 0;
    border-bottom: 0;
    padding-left: 60px;
}
.footer .footer_br a {
    margin-bottom: 20px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
}
.footer .footer_br a:hover {
    color: #ff9400;
}
.footer form .subscribe-form {
    position: relative;
    overflow: hidden;
}
.footer form .subscribe-form input {
    height: 40px;
    border: 0;
    margin-bottom: 30px;
    padding: 0 10px;
}
.footer form .subscribe-form button {
    position: absolute;
}
.footer button.btn_default {
    height: 40px;
    width: 40px;
    line-height: 40px;
    padding: 0;
    border-radius: 0;
    margin-left: -2px;
}
.footer button.btn_default::after {
    border-radius: 0;
}
.footer .footer_socials li {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 30px;
    margin-right: 8px;
    text-align: center;
}
.footer .footer_socials li a {
    display: block;
    background-color: #ff9400;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    color: #fff;
}
.footer .footer_socials li a:hover {
    background-color: rgba(255, 148, 0, 0.9);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.footer_bottom {
    width: 100%;

    float: left;
    background-color: #172039;
    color: #fff;
    font-size: 14px;
    padding: 15px 0;
    text-align: center;
}
.footer_bottom ul li {
    display: inline-block;
}
.footer_bottom ul li a {
    color: #fff;
    padding: 0 20px;
    display: block;
}
.footer_bottom ul li a:last-child {
    padding-right: 0;
}
.footer_bottom ul li a:hover {
    color: #ff9400;
}
.footer_bottom .text_colored:hover {
    color: #ff9400;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #ff9400;
}

.bombanner{
    text-align: center;
    color: #fff !important;
    width: 100%;
    min-height: 180px;
    background: rgba(17, 21, 28, 0.7) url('../img/blog_01.jpg');
    float: left;
    padding: 5em !important;
    position: relative;
}


.panC {
    margin: 1em 0px 5px;
    background-color: #FFFFFF;
    border: 1px solid #ebeef5;
    float: left;
    width: 100%;

}

.panCheading {
    padding: 0px 0px 5px 10px;
    background-color: #363b4d;
    margin: auto 0px;
    width: 100%;
    float: left;
}
.heading {

    font-size: 2rem;
    font-weight: bold;
    color: #efbb5a;

}
.panC .panCategory{

    padding: 0em;
}
.panCategory li {
    padding: 1em;
    width: 100%;
    float: left;

    border-bottom: 1px solid #ddd;
}
.panCategory li i {
    color: #f8a036;
    font-size: 14px;

}  
.panCategory li a {
    color: #000;
    font-size: 14px;
}

ul {
    list-style-type: none !important;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 10px 20px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #fc9338;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 22px;
    border-radius: 50px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    z-index: 2;
    color: #000;
    background-color: #eeeeee;
    border-color: #ddd;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #000;
    border: 2px solid #fc9338;
}

.panSub{

    padding: 5em 1em 1em 1em; 
}

.panSub form {
    position: relative;
}
.panSub form [type="search"] {
    padding: 0 15px;
    padding-right: 60px;
    height: 50px;
    width: 100%;
    outline: 0;
    font-size: 14px;
}
.panSub form [type="search"]:focus {
    border: 1px solid #ff9400;
}

.panSub form [type="submit"] {
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    text-align: center;
    border-radius: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.recenfx {
    width: 100%;
    float: left;
}

.recenfx ul {
    margin-bottom: 20px;
}
.recenfx a li {
    padding: 1em;
    width: 100%;
    float: left;
    border-bottom: 1px solid #ddd;
}

.recenfx li h5 {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-top: 5px;
    margin-bottom: 18px;
    font-weight: bolder;
}

.recenfx .media-body {
    float: none;
    width: auto;
}
.media-body p{

    color: #fc9338;
    margin-bottom: -1px;
    margin-top: -0.8em;

}
.recenfx li img {
    height: 60px;
    width: 68px;
    margin-right: 15px;
    float: left;
    border: 2px solid #efefef;
    padding: 0.2em;
}


.boxfxtags {
    width: 100%;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    background: #fff;
    float: left;
     padding: 16px 0;
}

.tagsocials li {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 30px;
    margin-right: 6px;
    text-align: center;

}
.tagsocials li a {
    display: block;
    background-color: #222222;
    color: #fff;
}



.boxbgdatetag > h1{

    font-weight: bolder;
    font-size: 40px;
    margin-top: -0.1em;
    margin-bottom: -0.1em;
}


.boxbgdatetag > span{
    font-weight: 400;
    font-size: 12px;

}

.boxbgcontenth5 {

    font-size: 33px !important;
    font-weight: bolder !important;
}

.boxbgdatetag {
    width: 80px;
    height: 80px;
    background: #fc9338;
    position: absolute;
    margin-top: -8em;
    margin-right: 1em;
    border-radius: 2px;
    color: #fff;
    padding: 0.5em;
    text-align: center;
    float: right;
    right: 0px;
}

.boxbgstatustag {
    position: relative;
    float: left;
    font-size: 13px;
    text-align: left;
    padding: 1em;
    margin-top: 0.5em;
}

.boxbgstatustag i{
    
    color: #fc9338;
}


.boxbgcontenttag {
    margin-top: -1em;
    padding: 1em;
    width: 100%;
    position: relative;
    float: left;
}